body{
	background:black;
}

/*section1*/
#section1{
	border:2px solid purple;
	margin-bottom:0px;
	display: grid;
	grid-template-columns: auto auto;
	text-align: center;
}

#section1 #img-div{
	width:150px;
	margin:auto;
}

#section1 #img-div img{
	width:100%;
	height: 100%;
}

/*#menu-button*/
#menu-button{
	text-align: center;
	background-color: black;
	padding:20px 0;
	position:relative;
}

/*#menu-button link*/
#menu-button a{
	text-decoration:none;
	letter-spacing: 1px;
	font-family: arial;
	color:white;
	font-size: 10px;
}

#menu-button a:hover{
	font-size: 11px;
	font-weight: bold;
	border-right:1px solid white;
	padding-right: 5px;
}

#menu-button .link1{
	margin:0 12px;
}

#menu-button .link2{
	margin-right:12px;
}

/*#menu-button button*/
#menu-button button{
	border:none;
	border-radius:15px;
	background: purple;
	color:white;
	padding:5px 13px;
	font-size: 10px;
	letter-spacing: 1px;
}

#menu-button #buttonn{
	margin-right:45px;
}

#menu-button button:hover{
	font-size: 12px;
	font-weight: bold;
}

#menu-button #button{
	margin-right:12px;
	background: green;
}

#span{
		color:white;
		position:absolute;
		right:15px;
		top:10px;
	}

/*section2*/
#section2{
	text-align:center;
	background: black;
	margin-top:0px;
	padding-bottom:0px;
	margin-bottom: 0px;
	padding-top: 30px;
}

#section2 h2{
	color:white;
	margin-top:0px;
	margin-bottom: 0px;
	font-family:arial;
	font-weight: normal;
	font-size: 20px;
	letter-spacing: 1px;
	padding:20px 0px;
	padding-bottom: 30px;
	border-bottom:2.5px grey solid;
}


/*section3*/
#section3{
	text-align:center;
	padding:10px 10px;
	width:95%;
	margin:auto;
	margin-top: 0px;
	line-height:1.5em;
	background: purple;
}


#section3 a{
	text-decoration:none;
	letter-spacing: 1px;
	font-family: arial;
	font-size: 12px;
	color:white;
}

#section3 a:hover{
	font-size: 14px;
	font-weight: bold;
	border-right:1px solid white;
	padding-right: 5px;
}

#section3 .link1{
	margin:0px 12px;
}



/*section4*/
@media(max-width:665px){
	#section4{
		display: grid;
		grid-template-columns: auto auto;
		grid-gap:20px;
		background: black;
		padding:20px 5px;
	}
}

@media(min-width:666px){
	#section4{
		display: grid;
		grid-template-columns: auto auto auto auto;
		grid-column-gap:20px;
		background: black;
		padding:20px 5px;
	}
}

#section4 .box-div{
	border:1px solid grey;
	display: grid;
	grid-template-columns: 50px auto;
	grid-column-gap:10px;
}

#section4 .img-div{
	background:white;
	padding: 20px 0px;
	margin-left: 10px;
	background: black;
}

#section4 .img-div i{
	font-size: 50px;
	color:purple;

}

#section4 .img-div .fa-user{
	font-size: 45px;
	color:#d9d9d9;
}

#section4 .img-div .fa-calendar{
	font-size: 45px;
	color:#ff3333;
}

#section4 .img-div .fa-wifi{
	font-size: 45px;
	color:#3333ff;
}

#section4 .img-div .fa-hourglass-half{
	font-size: 45px;
	color:#ffff33;
}


#section4 .text-div{
	margin:0px 5px;
	padding: 20px 0px;
}

#section4 .text-div h3{
	text-align: center;
	font-family: arial;
	font-size: 14px;
	line-height: 1.5em;
	color:lightgreen;
}

#section4 .text-div h5{
	text-align: center;
	font-family: arial;
	font-size: 10px;
	letter-spacing: 1px;
	color:white;
}



/*section6*/
#section6{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 15px;
	padding:20px 10px;
	background:black;
}

#section6 .box-div{
	padding:10px 0px;
	padding-top: 15px;
	background:lightblue;
	text-align: center;
}


/*font-awesome*/
#section6 a{
	font-size: 35px;
}

#section6 .fa-money{
	color:green;
}

#section6 .fa-line-chart{
	color:purple;
}

#section6 .fa-bank{
	color:gray;
}

/*section .p*/
#section6 .p1{
	text-align: center;
	letter-spacing: 1px;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
}

#section6 .p2{
	color:white;
	text-align: center;
	letter-spacing: 1px;
	font-family: arial;
	font-size: 12px;
}

#section6 #green{
	color:green;
}

#section6 #purple{
	color:purple;
}

#section6 #gold{
	color:gray;
}


/*section7*/
#section7{
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 20px;
	padding:20px 10px;
	padding-top: 40px;
	background: black;
}

/*media quary*/
@media(max-width:770px){
	#section7{
		display: grid;
		grid-template-columns: auto auto;
	}
}



#section7 .box-div{
	text-align: center;
}

/*section7 img-div*/
#section7 .img-div{
	width:220px;
	margin:auto;
}

/*media quary*/
@media(max-width:770px){
	#section7 .img-div{
	width:200px;
	margin:auto;
}
}

#section7 .img-div img{
	width:100%;
	height: 100%;
}

#section7 .p1{
	font-family: arial;
	letter-spacing: 1px;
	font-stretch: 1px;
	font-weight: bold;
	font-size: 14px;
	color:gold;
}

#section7 .p2{
	font-family: arial;
	letter-spacing: 1px;
	font-stretch: 1px;
	font-weight: bold;
	line-height: 1.2em;
	color:white;
}


/*section7 button*/
#section7 button{
	font-family: arial;
	letter-spacing: 1px;
	font-stretch: 1px;
	font-size: 12px;
	line-height: 1.2em;
	border:none;
	border-radius: 15px;
	color:white;
	background: gold;
	padding:10px 15px;
}

#section7 button:hover{
	color:white;
	background: black;
	border:1px solid white;
}


/*section7 media quary*/
@media (max-width: 500px){
	#section7 .p2{
	font-size: 14px;
}

	#section7 button{
		font-size: 10px;
		padding:10px 10px;
	}
}


/*section8*/
#section8{
	background: white;
	display:grid;
	grid-template-columns:auto auto auto auto auto;
	padding: 5px 0px;
	justify-content: center;
}

#section8 .img-div{
	width:130px;
}

/*media quary*/
@media(max-width:770px){
	#section8 .img-div{
		width:85px;
	}
}

#section8 .img-div img{
	width:100%;
	height: 100%;
}




/*section9*/
#section9{
	display:grid;
	grid-template-columns: auto auto auto;
	grid-gap: 60px;
	justify-content: center;
	margin-top: 20px;
	background:white;
	padding:30px 10px;
	color:white;
	background: purple;
}

/*media quary section9*/
@media(max-width:770px){
	#section9{
		grid-gap: 20px;
	}
}

/*media quary section9*/
@media(max-width:500px){
	#section9{
		grid-gap: 10px;
	}
}


#section9 .box-div{
	text-align: center;
	padding-top: 0px;
}

#section9 .box-div p{
	margin-top: 0px;
}

#section9 #img-div{
	width:150px;
	margin:auto;
}

#section9 #img-div img{
	width:100%;
	height: 100%;
}

#section9 #small-div{
	margin-top:15px;
}

#section9 #small-div small{
	font-family: arial;
	font-size: 12px;
	letter-spacing: 1px;
	line-height: 1.5em;
}

/*media quary*/
@media(max-width:770px){
	#section9 #small-div small{
		font-size: 10px;
	}
}

#section9 .box-div p{
	text-align: center;
	letter-spacing: 1px;
	line-height: 3em;
	font-family: arial;
	font-size: 12px;
}


/*media quary*/
@media(max-width:770px){
	#section9 .box-div p{
		text-align: center;
		letter-spacing: 0.5px;
		line-height: 3em;
		font-family: arial;

		font-size: 10px;
	}
}


#section9 .box-div a{
	display:block;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0.5px;
	font-family: arial;
	font-size: 12px;
	font-stretch: 60px;
	color:white;
}

#section9 .box-div a:hover{
	color:black;
	font-weight: bold;
}


/*media quary*/
@media(max-width:770px){
	#section9 .box-div a{
		font-size: 11px;
	}
}

#section9 .link{
	padding:0px 10px;
}

#section9 .link1{
	margin:20px 0px;
}









.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: purple;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}




/*section7 media quary*/
@media (max-width:1000px){
	.link-disappear{
		display: none;
	}
}


@media (min-width:1000px){
	#span{
		display: none;
	}
}